{% extends "base.html" %} {% block title %} All books available {% endblock %}
{% block body %}
<br />
<div class="books mt-5 mx-5">
  <h1>Books currently available</h1>

  {% if books|length > 0 %} 
    {% for el in books %}
    <div class="alert alert-info">
      <h2>{{ el.title }}</h2>
      <p>{{ el.author }}</p>
      <p><b>Date: {{ el.published.date() }}</b></p>
      <a href="/books/{{ el.id }}" class="btn btn-warning">Details</a>
    </div>
    {% endfor %} 
  {% else %}
    <h2 class="mt-5">There are no books in list yet</h2>
  {% endif %} 
</div>
{% endblock %}
